body {
    background: $base-darker;
    color: $secondary;
    padding: 0;
    margin: 0;
}
header {
    background: lighten($base-darker, 5%);
    position: sticky;
    top: 0;
    padding: 0.5em 1em;
    display: flex;
    align-items: baseline;
    z-index: 3;
}
main {
    padding: 1em;
    z-index: 1;
    min-height: calc(100vh - 40px);
}
footer {
    font-size: 0.8em;
    padding: 1em;
    margin-top: 1em;
    text-align: center;
}
div, main, header, footer {
    box-sizing: border-box;
}
@media screen and (max-width: $screen-s) {
    header {
        padding: 0.5em;
    }
}