.marker {
    font-family: 'typicons';
    font-size: 1.2em;
    position: relative;
    top: 0.2em;
}
.marker-success {
    @extend %icon-tick;
    color: $success;
}
.marker-fail {
    @extend %icon-times;
    color: $danger;
}
.marker-warning {
    @extend %icon-warning;
    color: $warning;
}