@media screen and (min-width: 768px) {
    .text-parser-wrapper-sidebar {
        position: fixed;
        right: 0;
        top: 0;
        width: 300px;
        max-height: 100vh;
        overflow-y: auto;
    }
    .text-parser-wrapper-main {
        padding-right: 320px;
    }
}